In [10]:
people = {
    'First Name' : ['Aditya', 'Palak', 'Divisha'],
    'Last Name' : ['Singh', 'Singh', 'Singh'],
    'Email ID' : ['aditysingh@gmail.com', 'palaksingh@gmail.com', 'divishasingh@gmail.com']
}

In [11]:
people['Email ID'][1]

'palaksingh@gmail.com'

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(people)

In [14]:
df

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com

In [15]:
df['Email ID']

0      aditysingh@gmail.com
1      palaksingh@gmail.com
2    divishasingh@gmail.com
Name: Email ID, dtype: object

In [16]:
type(df['Email ID'])

pandas.core.series.Series

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df[['Email ID', 'First Name']]

                 Email ID First Name
0    aditysingh@gmail.com     Aditya
1    palaksingh@gmail.com      Palak
2  divishasingh@gmail.com    Divisha

In [20]:
df.columns

Index(['First Name', 'Last Name', 'Email ID'], dtype='object')

In [33]:
df.iloc[[2, 1, 0], 2]

2    divishasingh@gmail.com
1      palaksingh@gmail.com
0      aditysingh@gmail.com
Name: Email ID, dtype: object

# What learnt in this module
   # .iloc[[integer of Row],[integer of Columns]] 
   
   # .columns
   
   # df[['Column Names']] # multiple can be passed
   
   # pd.DataFrame(dictName)