In [21]:
people = {
    'First Name' : ['Aditya', 'Palak', 'Divisha'],
    'Last Name' : ['Singh', 'Singh', 'Singh'],
    'Email ID' : ['aditysingh@gmail.com', 'palaksingh@gmail.com', 'divishasingh@gmail.com']
}

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame(people)

In [24]:
df

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com

In [31]:
filt = (df['First Name'] == "Aditya") | (df['Last Name'] == "Singh")

In [32]:
df.loc[filt, ['Email ID']]

                 Email ID
0    aditysingh@gmail.com
1    palaksingh@gmail.com
2  divishasingh@gmail.com