In [35]:
people = {
    'First Name' : ['Aditya', 'Palak', 'Divisha'],
    'Last Name' : ['Singh', 'Singh', 'Singh'],
    'Email ID' : ['aditysingh@gmail.com', 'palaksingh@gmail.com', 'divishasingh@gmail.com']
}

In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(people)

In [38]:
df

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com

In [52]:
df.set_index('Email ID', inplace=True)

In [40]:
df.index

Index(['aditysingh@gmail.com', 'palaksingh@gmail.com',
       'divishasingh@gmail.com'],
      dtype='object', name='Email ID')

In [41]:
df.loc['palaksingh@gmail.com', 'First Name']

'Palak'

In [57]:
df.reset_index(inplace=True)

# .index
# .set_index('Name of column', inplace=True/False) # true to change in every place otherwise second arugment is not required
# .set_index(inplace=True) # true to change