In [1]:
people = {
    'First Name' : ['Aditya', 'Palak', 'Divisha'],
    'Last Name' : ['Singh', 'Singh', 'Singh'],
    'Email ID' : ['aditysingh@gmail.com', 'palaksingh@gmail.com', 'divishasingh@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com

In [5]:
df.columns = ['First Name', 'Last Name', 'Email ID']

In [7]:
df

  FIRST_NAME LAST_NAME                EMAIL_ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com

In [8]:
df.rename(columns={'FIRST_NAME' : 'First Name', 'LAST_NAME':'Last Name', 'EMAIL_ID' : 'Email ID'}, inplace=True)

In [9]:
df.loc[2,['First Name']] = ['Divisha']

In [10]:
df

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com

In [11]:
df['Email ID'].applymap(len)

  Email ID
0       20
1       20
2       22

In [12]:
len(df.columns)

3

In [13]:
def update_email(email):
    return email.lower()

In [14]:
df['Email ID'] = df['Email ID'].applymap(update_email)

In [15]:
df['Email ID']

                 Email ID
0    aditysingh@gmail.com
1    palaksingh@gmail.com
2  divishasingh@gmail.com

In [16]:
df.apply(len)

First Name    3
Last Name     3
Email ID      3
dtype: int64

In [24]:
df['First Name'].map({'Aditya' : 'Adityaa'})

AttributeError: 'DataFrame' object has no attribute 'map'