In [118]:
import pandas as pd

In [136]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [137]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

# Conditional Filteration

In [138]:
filt = (df['CompTotal'] >= 25000.0) & (df['CurrencySymbol'] == 'INR') & (df['Country'] == 'India')

In [139]:
countries = ['India', 'United Kingdom', 'Germany']
filt = df['Country'].isin(countries)

In [140]:
df.loc[filt,['Country']]

                   Country
Respondent
1                  Germany
2           United Kingdom
6                  Germany
7                    India
10          United Kingdom
...                    ...
59638       United Kingdom
61490       United Kingdom
62464                India
62954                India
64236                India

[16189 rows x 1 columns]

In [131]:
filt  =  df['LanguageWorkedWith'].str.contains('Python', na=False)

In [142]:
df.loc[filt, ['LanguageWorkedWith']]

                                           LanguageWorkedWith
Respondent
1                                      C#;HTML/CSS;JavaScript
2                                            JavaScript;Swift
6                                    HTML/CSS;Java;JavaScript
7                                             C#;HTML/CSS;PHP
10                        HTML/CSS;Java;JavaScript;Python;SQL
...                                                       ...
59638                                         HTML/CSS;Python
61490       Bash/Shell/PowerShell;C;C++;Go;HTML/CSS;JavaSc...
62464                                                     NaN
62954                                                     SQL
64236                                                     NaN

[16189 rows x 1 columns]