In [13]:
people = {
    'First Name' : ['Aditya', 'Palak', 'Divisha'],
    'Last Name' : ['Singh', 'Singh', 'Singh'],
    'Email ID' : ['aditysingh@gmail.com', 'palaksingh@gmail.com', 'divishasingh@gmail.com']
}

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(people)

In [16]:
df

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com

In [17]:
df.sort_values(by='First Name', ascending=True)

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com

In [18]:
df.sort_values(by=['Last Name','First Name'], ascending=True)

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com

In [19]:
df.sort_values(by=['Last Name','First Name'], ascending=[True, False])# to change every where inplace=True

  First Name Last Name                Email ID
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com
0     Aditya     Singh    aditysingh@gmail.com

In [20]:
df.sort_index()

  First Name Last Name                Email ID
0     Aditya     Singh    aditysingh@gmail.com
1      Palak     Singh    palaksingh@gmail.com
2    Divisha     Singh  divishasingh@gmail.com